.btn {
  position: relative;
  margin: 0 0 15px 0;
  text-transform: uppercase;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}